<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="15"></div>
    <div fxFlex="70">
      <div fxFlex="20" class="center">
        <button mat-flat-button color="primary" routerLink="/"><span class="logo">Livraria</span></button>
      </div>
      <div fxFlex="60" class="center">
        <form>
          <input matInput type="text" class="search-input" placeholder="Pesquise seu produto aqui">
          <button mat-icon-button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
      <div fxFlex="20" class="center">
        <button mat-icon-button class="cart-icon" routerLink="/cart">
          <mat-icon class="cart-icon">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="15"></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row>
    <div fxFlex="20"></div>
    <div fxFlex="10">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <span> Categorias</span>
      </button>
      <mat-menu #menu>
        <button mat-menu-item (click)="navigateCategory('romance')">Romance</button>
        <button mat-menu-item (click)="navigateCategory('fantasia')">Fantasia</button>
        <button mat-menu-item (click)="navigateCategory('autoajuda')">Autoajuda</button>
        <button mat-menu-item (click)="navigateCategory('administracao')">Administração</button>
        <button mat-menu-item (click)="navigateCategory('didaticos')">Didáticos</button>
        <button mat-menu-item (click)="navigateCategory('infantil')">Infantil</button>
        <button mat-menu-item (click)="navigateCategory('espiritualidade')">Espiritualidade</button>
      </mat-menu>
    </div>
    <div fxFlex="50">
      <button mat-button (click)="navigateCategory('maisvendidos')"><span>Mais Vendidos</span></button>
      <button mat-button (click)="navigateCategory('todascategorias')"><span>Todas os Livros</span></button>
    </div>
    <div fxFlex="20"></div>
  </mat-toolbar-row>
</mat-toolbar>