.logo{
    font-size: 1.8rem;
    color: white;
    font-family: cursive;
    margin-left: 20px;
    margin-right: 20px;
}

.cart-icon{
    font-size: 2rem;
}

.search-input{
    width: 80%;
    height: 1.5rem;
}

.center{
    text-align: center;
}