<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="15"></div>
    <div fxFlex="70">
      <div fxFlex="20" class="center">
        <button mat-flat-button color="primary" routerLink="/"><span class="logo">Livraria</span></button>
      </div>
      <div fxFlex="60" class="center">
        <form>
          <input matInput type="text" class="search-input" placeholder="Pesquise seu produto aqui">
          <button mat-icon-button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
      <div fxFlex="20" class="center">
        <button mat-icon-button class="cart-icon" routerLink="/cart">
          <mat-icon class="cart-icon">shopping_cart</mat-icon>
        </button>
      </div>
    </div>
    <div fxFlex="15"></div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar>
  <mat-toolbar-row>
    <div fxFlex="20"></div>
    <div fxFlex="60">
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
        <span> Categorias</span>
      </button>
      <mat-menu #menu>
        <button mat-menu-item>Mais Vendidos</button>
        <button mat-menu-item>Romance</button>
        <button mat-menu-item>Fantasia</button>
        <button mat-menu-item>Autoajuda</button>
        <button mat-menu-item>Administração</button>
        <button mat-menu-item>Todos os Livros</button>
      </mat-menu>
    </div>
    <div fxFlex="20"></div>
  </mat-toolbar-row>
</mat-toolbar>