<div fxLayout="column" fxLayoutAlign="center stretch">
  <div>
    <div fxFlex="50" fxLayout="row" fxLayoutAlign="center center" class="div-image">
        <img class="product-image" src="{{imgPath}}">
    </div>
    <div fxFlex="50" fxLayout="column" fxLayoutAlign="center stretch">
      <div class="div-product-title">
        <span class="product-title">{{title | uppercase}}</span>
        <br><br>
        <span class="mini">Autor:</span>
        <span class="author">&nbsp;{{author | uppercase}}</span>
      </div>
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayoutAlign="center center" class="div-product-title">
        <div fxLayout="column" fxLayoutAlign="center stretch" class="div-product-price">
          <div>
            <span class="mini">de:&nbsp;</span>
            <span class="original-price">R$&nbsp;{{originalPrice}}</span>
          </div>
          <div>
            <span class="mini">por:&nbsp;</span>
            <span class="price">R$&nbsp;{{price}}</span>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center stretch" class="div-product-price">
          <button mat-flat-button color="primary">
            <span>Adicionar ao meu carrinho&nbsp;&nbsp;</span>
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div fxLayout="column" fxLayoutAlign="center stretch">
    <div class="div-product-details">
        <span class="product-details-title">Detalhes do Produto</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="20">
        <mat-list>
          <mat-list-item>
            <span class="product-details-cat">Autor:&nbsp;</span><span class="product-details">{{author | titlecase}}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="product-details-cat">Editora:&nbsp;</span><span class="product-details">{{publisher | titlecase}}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="20">
        <mat-list>
          <mat-list-item>
            <span class="product-details-cat">Assunto:&nbsp;</span><span class="product-details">{{theme | titlecase}}</span>
          </mat-list-item>
          <mat-list-item>
            <span class="product-details-cat">Ano:&nbsp;</span><span class="product-details">{{year}}</span>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="60">
        <mat-list>
          <mat-list-item>
            <span class="product-details-cat">Idioma:&nbsp;</span><span class="product-details">{{language | titlecase}}</span>
          </mat-list-item>
          <mat-list-item>
              <span class="product-details-cat"></span><span class="product-details"></span>
            </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <mat-divider></mat-divider>
</div>