div {
    /*border: 1px solid #000;*/
    text-align: center;
}

.product-image{
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    border: 1px solid lightgrey;
}

.div-image{
    height: 500px;
}

.div-product-title{
    height: 200px;
    text-align: left;
}

.product-title{
    font-family: inherit;
    font-size: 2rem;
}

.div-product-price{
    height: 140px;
    width: 45%;
}

.mini{
    font-size: 1rem;
    color: dimgrey;
}

.original-price{
    font-size: 1.5rem;
    text-decoration: line-through;
    color: silver;
}

.price{
    font-size: 2rem;
}

.author{
    font-size: 1rem;
}

.div-product-details{
    text-align: left;
    padding-top: 30px;
}

.product-details-cat{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: gray;
}

.product-details-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: grey;
    font-weight: 100;
}

.product-details{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}